* { 
    font-family: Tahoma;
}

.baner {
    background-color: tomato; 
    color: white;
    padding: 10px;
}

.main {
    background-color: seashell;
    height: 500px;
    overflow-y: scroll;
}

.footer-1, .footer-2, .footer-3, .footer-4 {
    background-color: tomato;
    color: white;
    width: 25%;
    height: 160px;
    float: left;
}

.blokopini {
    background-color: white;
    color: dimgray;
    width: 60%;
    height: 220px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    box-shadow: 0 0 10px 5px dimgray;
}

h1, h2 {
    text-align: center;
}

h4 { 
    text-align: right;
    margin-right: 40px;
    font-size: 150%;
    font-style: italic;
}

a {
    color: white;
}